@layer reset, base, layout, components, utilites;

@layer reset {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  :root {
    /* primitives */
    --clr-main-100: hsl(75 6 87);
    --clr-main-300: hsl(214 23 56);
    --clr-main-500: hsl(212 29 36);
    --clr-main-700: hsl(219 37 17);
    --clr-main-900: hsl(211 53 11);

    --clr-base-200: hsl(0 0 80%);
    --clr-base-800: hsl(0 0 20%);

    --br-1: 0.5rem;
    --br-2: 0.5rem;
    --br-3: 1rem;

    --ff-heading: "Oxygen Mono", monospace;
    --ff-body: "Oxygen Mono", monospace;

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    @media (width > 760px) {
      --fs-300: 0.875;
      --fs-400: 1rem;
      --fs-500: 1.25rem;
      --fs-600: 1.5rem;
      --fs-700: 2rem;
      --fs-800: 3rem;
      --fs-900: 5rem;
      --fs-1000: 7.5rem;
    }
  }

  :root {
    /* semantics */
    --background-main: var(--clr-main-900);
    --background-card: var(--clr-main-700);
    --background-button: var(--clr-main-500);
    --background-tooltip: var(--clr-base-800);
    --border-on-dark: var(--clr-base-200);
    --background-transparent: hsl(0 0% 0% / 0%);
    --text-main: var(--clr-main-100);
    --highlight-main: var(--clr-main-300);
    --highlight-card: var(--clr-main-300);


    --border-radius-card: var(--br-1);

    --font-size-heading-sm: var(--fs-700);
    --font-size-heading-rg: var(--fs-800);
    --font-size-heading-lg: var(--fs-900);
    --font-size-heading-xl: var(--fs-1000);

    --font-size-sm: var(--fs-300);
    --font-size-rg: var(--fs-400);
    --font-size-md: var(--fs-500);
    --font-size-lg: var(--fs-600);
  }

  html {
    font-family: var(--ff-body);
    line-height: 1.6;
  }

  body {
    color: var(--text-main);
    font-size: var(--font-size-rg);
    background-color: var(--background-main);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--ff-heading);
  }

  h1 {
    font-size: var(--font-size-heading-lg);
  }

  a {
    color: var(--text-main);
  }

  a:hover,
  a:focus-visible {
    color: var(--highlight-main);
  }
}

@layer layout {
  .wrapper {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .section {
    padding-block: 1rem;

    @media (width > 500px) {
      padding-block: 2rem;
    }
  }

  .auto-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(), 1fr));
    margin-block-start: 1rem;
  }

  .svg-container {
    border-radius: var(--border-radius-card);
    background: var(--background-card);
    padding: 2em;
    transition: 0.1s;
    justify-self: center;
    align-self: center;
    position: relative;

    &[data-padding="small"] {
      padding: 1em;
    }
  }

  .svg-container:hover {
    cursor: pointer;
    background: var(--highlight-card);
  }

  .tooltip {
    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: 1;
    background: var(--background-tooltip);
    padding: 0.25rem;
    border-color: var(--border-on-dark);
    border-style: solid;
    border-width: 1px;
    font-size: 0.8em;
    border-radius: var(--br-2);
    color: var(--text-main);
    opacity: 0;

    transition: 0.3s;

    &[data-show="true"] {
      opacity: 0.9;
    }
  }

  .tooltip:hover {
    pointer-events: none;
    cursor: default;
  }

  .button {
    background: var(--background-button);
    color: var(--text-main);
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: var(--br-1);
    transition: 0.1s;

    &[data-selected="true"] {
      outline-width: 4px;
      outline-color: var(--border-on-dark);
      outline-style: solid;
    }
  }

  .button:hover {
    cursor: pointer;
    background: var(--highlight-card);
    scale: 1.1;
  }

  .button:active {
    scale: 0.8;
  }

  .list-info {
    list-style: inside;
  }
}

@layer components {
  .hero {
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: 10rem auto;
    grid-template-areas:
      "profile-pic name"
      "profile-pic title-location"
      "profile-pic main-links"
      "about about";

    @media (width < 500px) {
      grid-template-columns: auto;
      grid-template-areas:
        "name"
        "profile-pic"
        "main-links"
        "title-location"
        "about";
    }

    @media (width < 760px) {
      margin-block-start: 3rem;
    }
  }

  .profile-pic {
    grid-area: profile-pic;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;

    @media (width < 500px) {
      justify-self: center;
    }
  }

  .name {
    grid-area: name;

    @media (width < 500px) {
      justify-self: center;
    }
  }

  .title-location {
    grid-area: title-location;
  }

  .main-links {
    grid-area: main-links;
    display: grid;
    gap: 0.66rem;
    grid-template-columns: repeat(4, 1fr);
    max-inline-size: 225px;

    @media (width < 500px) {
      justify-self: center;
    }
  }

  .main-links img {
    max-inline-size: 20px;
    max-block-size: 20px;
  }

  .about {
    grid-area: about;
  }

  .main-navigation {
    background: var(--background-transparent);
    padding: 1rem 1rem;
    margin-block: 1rem;
    border-radius: var(--border-radius-card);
    transition: 0.3s;
    font-weight: bold;

    @media (width < 760px) {
      display: none;
    }
  }

  .main-navigation:hover {
    background: var(--background-card);
  }

  .main-navigation ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .main-navigation button {
    background: none;
    border: none;
    color: var(--text-main);
  }

  .main-navigation button:hover {
    cursor: pointer;
  }

  .card {
    background: var(--background-card);
    border-radius: var(--border-radius-card);
    padding: 1rem;
  }

  .card:hover {
    background: var(--highlight-card);
  }

  .card-meta-info {
    display: flex;
    justify-content: space-between;

    @media (width < 500px) {
      display: block;
    }
  }

  .project-icons {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
  }

  .project-icons>img {
    inline-size: 40px;
    block-size: 40px;
  }

  .technologies-filter-buttons {
    display: flex;
    gap: 1rem;
    margin-block: 1rem;
  }

  .technologies {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(min(100px), 1fr));
    min-block-size: 375px;
    align-content: start;
  }

  .technologies img {
    aspect-ratio: 1 / 1;
  }

  .scroll-to-top-button {
    position: fixed;
    right: 30px;
    bottom: 30px;

    border-radius: 50%;
    opacity: 0;
    transition: 0.6s ease;
  }

  .scroll-to-top-button>img {
    max-block-size: 2rem;
    max-inline-size: 2rem;
  }

  .scroll-to-top-button-animation {
    opacity: 1;
  }
}

@layer utilites {

  .font-size-heading-sm {
    font-size: var(--font-size-heading-sm);
  }


  .font-size-heading-rg {
    font-size: var(--font-size-heading-rg)
  }

  .font-size-heading-lg {
    font-size: var(--font-size-heading-lg);
  }

  .font-size-heading-xl {
    font-size: var(--font-size-heading-xl);
  }

  .font-size-sm {
    font-size: var(--font-size-sm);
  }

  .font-size-rg {
    font-size: var(--font-size-rg);
  }

  .font-size-md {
    font-size: var(--font-size-md);
  }

  .font-size-lg {
    font-size: var(--font-size-lg);
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }
}